<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <%= link_to edit_club_path(club) do %>
      <div class="article-edit-link">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  <% end %>
<% end %>
