<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="taxes-title">
        <h3>Réduisez vos impôts</h3>
        <h4>ŒUVRER POUR L’INTERET GENERAL</h4>
      </div>
    </div>
    <div class="taxes-wrapper">
      <div class="col-xs-12 col-md-6">
        <p>Notre structure est une association à but non lucrative régissant sous la loi 1901. Elle œuvre pour l’intérêt général et la promotion de l’activité physique.</p>

        <p>Vous êtes intéressé à participer au développement de notre club ?</p>

        <p>Vous pouvez nous aider en contribuant à :</p>

        <p>Améliorer la qualité de l’encadrement par l’accès à la formation.</p>
        <p>Réaliser le projet associatif « LE SPORT POUR TOUS » avec la création de « l’Espace Triathlon ».</p>
        <p>Pérenniser le projet sportif « VISIBILITE » au travers des compétitions fédérales jeunes et séniors.</p>
        <p>Eduquer, Former, Entraîner et Perfectionner les jeunes grâce à l’Ecole de Triathlon.</p>
        <p>Mener des actions de promotion du sport sur le territoire Charentais.</p>
        <p>Favoriser l’emploi (service civique, stagiaire, apprentis…) dans le souci d’améliorer nos services pour le plus grand nombre.</p>

      </div>
      <div class="col-xs-12 col-md-6">
        <div class="picture-article">
          <img src="https://www.arcolib.fr/sites/default/files/r%C3%A9duction%20impot%202_1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="taxes-title">
        <h4>DEVENEZ ACTEUR DYNAMIQUE, C’EST VOTRE CLUB !</h4>
        <h4>UN DON EST REALISABLE.</h4>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Vous pouvez faire un don, profiter des avantages fiscaux offerts par la loi sur les dons/mécénats et bénéficier de réductions proposées par le club.</p>

    </div>
    <div class="col-xs-12">
      <div class="table-content">
        <table >
          <tr class='tr-color'>
            <td>
              <p>DON</p>
            </td>
            <td>
              <p>IRPP Crédit d’impôts</p>
            </td>
            <td>
              <p>REDUCTION Club</p>
            </td>
            <td>
              <p>Coût pour l’adhérent</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>20 €</p>
            </td>
            <td>
              <p>13 €</p>
            </td>
            <td>
              <p>5€</p>
            </td>
            <td>
              <p>2€</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>40 €</p>
            </td>
            <td>
              <p>26 €</p>
            </td>
            <td>
              <p>10 €</p>
            </td>
            <td>
              <p>4€</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>60 €</p>
            </td>
            <td>
              <p>39 €</p>
            </td>
            <td>
              <p>15 €</p>
            </td>
            <td>
              <p>6€</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>100 €</p>
            </td>
            <td>
              <p>66 €</p>
            </td>
            <td>
              <p>25 €</p>
            </td>
            <td>
              <p>9€</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>160 €</p>
            </td>
            <td>
              <p>104 €</p>
            </td>
            <td>
              <p>40 €</p>
            </td>
            <td>
              <p>16 €</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>200 €</p>
            </td>
            <td>
              <p>132 €</p>
            </td>
            <td>
              <p>50 €</p>
            </td>
            <td>
              <p>18 €</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>300 €</p>
            </td>
            <td>
              <p>198 €</p>
            </td>
            <td>
              <p>75 €</p>
            </td>
            <td>
              <p>27 €</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>400 € </p>
            </td>
            <td>
              <p>264 €</p>
            </td>
            <td>
              <p>100 €</p>
            </td>
            <td>
              <p>36 €</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>500 €</p>
            </td>
            <td>
              <p>330 €</p>
            </td>
            <td>
              <p>125 €</p>
            </td>
            <td>
              <p>45 €</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>600 €</p>
            </td>
            <td>
              <p>396 €</p>
            </td>
            <td>
              <p>150 €</p>
            </td>
            <td>
              <p>54 €</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>700 €</p>
            </td>
            <td>
              <p>462 €</p>
            </td>
            <td>
              <p>175 €</p>
            </td>
            <td>
              <p>63 €</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>800 €</p>
            </td>
            <td>
              <p>528 €</p>
            </td>
            <td>
              <p>200 €</p>
            </td>
            <td>
              <p>72 €</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>900 €</p>
            </td>
            <td>
              <p>594 €</p>
            </td>
            <td>
              <p>225 €</p>
            </td>
            <td>
              <p>81 €</p>
            </td>
          </tr>
          <tr class='tr-color'>
            <td>
              <p>1000 €</p>
            </td>
            <td>
              <p>660 €</p> </td>
              <td>
              <p>250 €</p>
            </td>
              <td>
              <p>90 €</p>
            </td>
          </tr>
        </table>

      </div>

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="picture-article">
        <img src="https://www.lecoindesentrepreneurs.fr/wp-content/uploads/2011/02/r%C3%A9duction-dimp%C3%B4t.jpg" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>La réduction club est d’un montant maximum de 25% du don versé. Cette réduction est applicable sur :</p>
      <p>La part de cotisation club 2020 (versée fin d’année 2019)</p>
      <p>Le coût pédagogique des stages club 2019</p>
      <p>Le montant de votre commande textile 2019</p>
      <p>Je verse 100 €, je déclare 100 € sur ma fiche d’impôts à la case 7UF (2042 RICI). Le Crédit d’impôt est à hauteur de 66% du don versé (donc 66 €) est calculé automatiquement et sera déduit de vos impôts.</p>
    </div>

    <div class="col-xs-12 col-md-6">
      <p>Exemple : </p>
      <p>Je fais un don de 100,00€ au club en 2019. Je profite de 66 € de crédit d’impôt sur mon imposition établie en 2020. </p>
      <p>Je bénéficie, à ma demande, de 25 € de réduction sur le montant de la part de cotisation club de 2020. </p>
      <p>Le prix de la part de cotisation club est donc de 120 € - 25 € soit 95 €. </p>
      <p>Le club reçoit de ma part 120 € de cotisation club + la part fédération 120 € + 100,00 € de dons soit un total de 340 €. </p>
      <p>Il me déduit 25 €, à ma demande, sur le montant de la cotisation club.</p>
      <p>Le club enregistre réellement 315 € - 120 € (part fédération reversée) soit 195 € au total.</p>

    </div>
    <div class="col-xs-12">
      <div class="taxes-title">
        <h4>LE MONTANT DU DON EST LIMITE A 20% DE VOS REVENUS.</h4>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="picture-article">
        <img src="https://media.istockphoto.com/vectors/adhesive-note-post-it-vector-vector-id591814544?k=6&m=591814544&s=170667a&w=0&h=RlvAtg57_ILmFoTSg8cJNUfct6pQOjeHRrmlczYGPno=" alt="">
      </div>
    </div>
    <div class="col-xs-12">
      <h4>BULLETIN DE DON</h4>
      <p>Je soussigné, Mme/Mr…………………………………………………., déclare verser un don de …………….€ à l’association : JSA Triathlon/Duathlon.</p>
      <p>Je demande ma réduction (d’un montant de 25% du don) :</p>
      <p>Cotisation club.</p>
      <p>Coût pédagogique stage club.</p>
      <p>Montant commande textile.</p>
      <p>Un CERFA vous sera délivrée. Elle vous servira de justificatif auprès du centre des impôts.</p>

    </div>
  </div>
</div>
