<div  id="participation-list">
  <b>
    Membres participants
    <% if @article.participations.length>0 %>
      (<%= @article.participations.length %>)
    <% end %>
     :
  </b>
  <div class="participation-user-list">
    <% @article.participations.each do |participation| %>
      <%= render 'shared/user_picture', {user: participation.user } %>
    <% end %>
  </div>
</div>
