<div  id="participation-list">
  Membres participants :
  <i class="fas fa-hard-hat"></i>
  <% @article.participations.each do |participation| %>
    <%= participation.user.firstname %>,
  <% end %>
</div>
