<div class="container">
    <div class="row">
        <h3>Mise à jour du créneau</h3>
        <%= render 'shared/workout_card', {workout: @workout} %>
        <%= render 'form_workout' %>
    
    </div>
</div>