<div class="container">
    <div class="row">
        <h3>
            <%= link_to trainings_path do %>
                <i class="fa-solid fa-circle-chevron-left"></i>
            <% end %> 
            Création d'un créneau
        </h3>
        <%= render 'form_workout' %>
    </div>
</div>