// Define variables for your color scheme

// For example:
$red: #C9103B;
$blue: #469AE0;
$blue-md:#639EF5;
$yellow: #FDB631;
$orange: #E67E22;
$orange-md: #FFBE0B;
$green: #32B796;
$gray: #221F20;
$light-gray: #F4F4F4;
$gray-silver: #BFBFBF;
$white: #FFF;
$pink: #D01044;
$green-flash: #2CFC23;
$swim: #086EC3;
$bike: #F08732;
$run: #80C308;
