.partner-card-content{
  background-color: red;

}

.partner-card-text-content {
  min-height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 1px;
  border-top: solid 1px;
}

.partner-card-name{
font-size:40px;
}
.partner-card-contact{

}
.partner-card-offer-content{
  background-color: $red;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: $white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  position: relative;
}
.partner-card-website{

}
.partner-card-address{

}
.partner-card-description{

}
.partner-card-active{

}

.partner-card-photo{
  width:100%;
  height: 250px;
  border-radius: 3px;
  border: solid 1px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-card-edit {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  background-color: $red;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.red-text {
  color: $white;
}

.partner-title {
  display: flex;
  align-items: center;
}

.partner-add {
  color: $red;
  font-size: 30px;
}


