.article {
  background-color: $white;
  color: $gray;
  padding: 10px;
  margin: 0 0 0 0;
  position: relative;
  a {
   text-decoration: none;
   color: $gray;
  }
  &-card {
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    min-height: 120px;
    margin-bottom: 15px;
  }
  &-picture {
    height: 350px;
    background-position: center center;
    background-size: cover !important;
    color: $white;
    // text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    border-radius: 5px 5px 0 0;

  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-location-date-time {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &-link {
    border-radius: 20px;
    background-color: $red;
    color: $white;
    margin-bottom:12px;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80vw;
    max-width: 400px;
    text-align: center;
  }
  &-type {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-radius: 0 10px 0 0;
    color: $gray;
    background-color: $white;
    z-index: 1;

  }
  &-author {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-radius: 10px 0 0 0;
    color: $gray;
    background-color: $white;
    z-index: 1;
  }
}

.participation-content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  a {
    color: $white;
  }
}

.participation-list {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.article-authors{
  font-size: 10px;
  text-align: right;
}

.invalid-feedback-md {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #C9103B;
}
