.date-time {
  width: 150px;
  display: inline-block;
  // work on datepicker
}

.red-alert{
  color: $red;
}

.article-form-photo {
  padding-bottom: 10px;
}

.article-mail-div{
  border: 1px solid $red;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 0, 0, 0.3);
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  background-color: $red;
  color: $white;
  border-radius: 3px;
}
