<div class="footer-content">
  <div>Angoulême Triathlon</div>
  <div>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-slack"></i>
  </div>
  <a href="www.angoulemetriathlon.fr">
    www.angoulemetriathlon.fr
  </a>
</div>
</body>
</html>
