  </div>
  <div class="footer-content">
    <div>
      <table>
        <tr>
          <td>
            <div class="unsubscribe">
              Si tu ne souhaites plus recevoir d'email d'Angoulême Triathlon, suit <a href="http://www.angouleme-triathlon.fr/users/edit">le lien suivant</a>. Il faudra te connecter à ton compte et dans ton profil décoche l'option "recevoir les notifications".
            </div>
          </td>
        </tr>
        <tr>
          <td class="cdos-address">
            Angoulême Triathlon
          </td>
        </tr>
        <tr>
          <td class="cdos-address">
            <i class="fab fa-facebook-square"></i>
            <a href="https://www.instagram.com/jsa_triathlon_officiel/">
              <i class="fab fa-instagram"></i>
            </a>
            <i class="fab fa-slack"></i>
          </td>
        </tr>
        <tr>
          <td class="cdos-address">
            <a href="www.angouleme-triathlon.fr">
              www.angouleme-triathlon.fr
            </a>
          </td>
        </tr>
        <tr>
          <td class="cdos-address">
            <p>241 rue des Mesniers</p>
          </td>
        </tr>
        <tr>
          <td class="cdos-address">
            <p>Domaine de la Combe</p>
          </td>
        </tr>
        <tr>
          <td class="cdos-address">
            <p>16710 Saint-Yrieix-sur-Charente</p>
          </td>
        </tr>
      </table>

    </div>
  </div>
</body>
</html>
