  <div class="unsubscribe">
    Si tu ne souhaites plus recevoir d'email d'Angoulême Triathlon, suit <a href="https://jsa-triathlon.herokuapp.com/users/edit">le lien suivant</a>. Il faudra te connecter à ton compte et dans ton profil décoche l'option "recevoir les notifications".
  </div>
  <div class="footer-content">
    <div>Angoulême Triathlon</div>
    <div>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-slack"></i>
    </div>
  <!--   <a href="www.angoulemetriathlon.fr">
      www.angoulemetriathlon.fr
    </a> -->
    <div class="cdos-address">
      <p>241 rue des Mesniers</p>
      <p>Domaine de la Combe</p>
      <p>16710 Saint-Yrieix-sur-Charente</p>
    </div>
  </div>
</body>
</html>
