  </div>
  <div class="footer" >
    <div class="footer-content">
      <table>
        <tr>
          <td>
            <div class="unsubscribe">
              Si tu ne souhaites plus recevoir d'email d'Angoulême Triathlon, suit <a href="http://www.angouleme-triathlon.fr/users/edit">le lien suivant</a>. 
              Il faudra te connecter à ton compte et dans ton profil décoche l'option "recevoir les notifications". 
              Angoulême Triathlon 241 rue des Mesniers Domaine de la Combe 16710 Saint-Yrieix-sur-Charente.
            </div>
          </td>
        </tr>

        <tr>
          <td class="cdos-address-logo">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
          </td>
        </tr>

      </table>

    </div>
  </div>
</body>
</html>
