<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Angoulême Triathlon</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style>
    body{
      background-color: #F4F4F4;
      padding: 0 5vw 0 5vw;
      font-family: "Open Sans", "Helvetica", "sans-serif";
      color: #221F20;
    }
    body i {
      color:#C9103B;
    }
    .mail-content {
      background-color: #FFF;
      padding: 10px;
      border-radius: 15px 15px 0 0;

    }
    .article-content-title {
      border-top: solid 1px #221F20;
      border-left: solid 1px #221F20;
      border-right: solid 1px #221F20;
      border-radius: 5px 5px 0 0 ;
      padding: 10px;
      background-color: #C9103B;
      color: #FFF;
      font-weight: bold;
    }
    .article-content {
      border: solid 1px #221F20;
      padding: 10px;
      border-radius: 0 0 5px 5px;
    }
    .article-shadow{
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }

    .footer-content{
      background-color: #1F1D1D;
      color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      border-radius: 0 0 15px 15px;
    }
    .footer-content a {
      color: #FFF;
    }
  </style>
</head>
<body>


