<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Angoulême Triathlon</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style>
    body{
      background-color: #F4F4F4;
      padding: 0 5vw 0 5vw;
      font-family: "Open Sans", "Helvetica", "sans-serif";
      color: #221F20;
    }

    .mail-content {
      background-color: #FFF;
      padding: 5vw;
      border-radius: 15px 15px 0 0;

    }
    .article-post-it-content{
      display: flex;
      justify-content: center;
      margin-top: -15px;
    }
    .article-post-it {
      /*border: solid 1px #221F20;*/
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #C9D7F8;
      width: 160px;
      height: 160px;
      transform: rotate(10deg);
    }

    .article-post-it i {
      color: #221F20 ;
    }
    .article-shadow{
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }

    .unsubscribe {
      background-color: #FFF;
      padding: 10px;
    }

    .footer-content{
      border-top: solid 2px #C9103B; /*red*/
      background-color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      border-radius: 0 0 15px 15px;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }
    .cdos-address {
      text-align: center;
    }
    .calendar-content{
      display: flex;
      justify-content: center;
    }

    .calendar-card-content {
      background-color: white;
      margin-top: 10px;
      border-radius: 3px;
      height: 200px;
      width: 150px;
      border: solid 1px #221F20;/*Gray*/
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      /*padding: 0 10px;*/
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }

    .calendar-card-date-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .calendar-card-month-year-content {
      bottom: 15px;
      width: 100%;
      background-color: #C9103B; /*red*/
      font-size: 20px;
      font-weight: 100;
      border-radius: 0 0 3px 3px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-weight: bold;
    }
    .calendar-card-date {
      font-weight: bold;
      font-size: 30px;
    }

    .calendar-card-day {
      font-weight: bold;
      font-size: 50px;
      color: #C9103B; /*red*/
    }

    .calendar-card-month {
      color: $white;
    }

    .calendar-card-time {
      font-weight: bold;
    }

    .article-content{
      display: flex;
      justify-content: center;
    }
    .article-content-text{
      font-size: 12px;
      width: 75%;
      border: solid 1px grey;
      padding: 10px;
    }
    .article-content-link {
      display:flex;
      justify-content: center;
    }

    .article-link {
      padding: 10px;
      background-color: #C9103B;
      color: #FFF;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      width: 200px;
      border-radius: 25px
    }
    .article-content-link a {
      text-decoration: none;
    }

    .logo-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding-bottom: 20px;
      border-bottom: solid 2px #C9103B; /*red*/

    }
    .jsa-title{
      padding-left: 20px;
    }

    .mail-picture {
      height: 350px;
      background-position: center center;
      background-size: cover !important;
      color: $white;
    }
    .bold-mail {
      font-weight: bold;
    }
    .nl-articles-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .newsletter-card{
      border: solid 1px gray;
      width: 300px;
      height: 300px;
      margin: 10px;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
      /*padding: 5px;*/
      border-radius: 3px;
    }

    .nl-a-link{
      text-decoration: none;
    }
    .nl-card-name{
      padding: 15px 5px;
      width: 97%;
      color: #221F20;/*Gray*/
      font-weight: bold;
      font-size: 18px;
      text-align:center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 27ch;

    }

    .nl-alert {
      border: 1px red solid;
      border-radius: 3px;
      padding: 5px;
      text-align: center;
      font-size: 20px;
      font-weight: bolder;
      background-color: rgba(255,43,100, 0.3);
      color: #FFF;
    }

    .nl-card-date-td {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: linear-gradient(to left, #101eec, #ec10e4);
      background-size: 400% 400%;
      color: #FFF;
      text-align: center;
    }

    .nl-card-date{
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background: linear-gradient(to left, #101eec, #ec10e4);
      background-size: 400% 400%;
      color: white;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
      z-index: 1;
      text-align: center;
      /*???*/

    }

    .nl-card-location{
      width: 93.5%;
      padding: 5px 10px;
      background: rgb(55,54,79);
      background: -webkit-linear-gradient(8deg, rgba(55,54,79,1) 0%, rgba(251,251,251,1) 80%);
      background: -o-linear-gradient(8deg, rgba(55,54,79,1) 0%, rgba(251,251,251,1) 80%);
      background: linear-gradient(98deg, rgba(55,54,79,1) 0%, rgba(251,251,251,1) 80%);
      color: #FFF;
      font-weight: bold;
    }
    .nl-card-link{

    }
    .nl-car-photo-td{
      height: 185px;
      width: 300px;
      text-align: center;
    }
    .nl-card-photo img {
      max-width: 296px;
      max-height: 185px;
    }

    .link-button-content{

    }
    .link-button{
      height: 30px;
      min-width: 60px;
      background-color: #C9103B; /*red*/
      border-radius: 3px;
      font-size: 20px;
      color: #FFF;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
      margin:auto;
      text-align: center;
    }
    .product-photo {
      width: 60vw;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }
    .ad-informations {
      text-align: center;
      color: #C9103B; /*red*/;
      font-weight: bold;
      padding: 5px;
      text-decoration: none;
    }
    .ad-contact-content {
      text-align: center;
      margin: 30px;
    }
    .ad-price {
      text-align: center;
      color: #469AE0; /*blue*/
      font-weight: bold;
      height: 40px;
      font-size: 30px;
    }
    .ad-contact {
      border: solid 1px #C9103B; /*red*/;
      padding: 10px;
      border-radius: 3px;
      background-color: #C9103B; /*red*/;
      color: #FFF;
      text-decoration: none;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }
    .ad-product-picture {
      text-align: center;
    }
  </style>
</head>
<body>
<div class="mail-content article-shadow">
  <div class="logo-title">
    <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_100/v1555969918/JSA%20Triathlon/logo.jpg" alt="">
    <p class="jsa-title">
      Angoulême Triathlon
    </p>
  </div>

