  <div class="newsletter-card">
    <div class="nl-card-name">
      <%= article.name %>
    </div>

    <div class="nl-card-date">
      <%= l article.date, format: '%d/%m/%Y' %>
    </div>

    <div class="nl-card-location">
      <%= article.location %>
    </div>
    <div class="nl-card-link">
      <%= article.link %>
    </div>
  </div>

