  <div class="newsletter-card">
    <div class="nl-card-name">
      <%= article.name %>
    </div>

    <div class="nl-card-photo">
      <img src="<%= article.photo %>" alt="">
    </div>
    <div class="nl-card-date">
      <%= l article.date, format: '%d/%m' %>
    </div>

    <div class="nl-card-location">
      <%= article.location %>
    </div>
  </div>

