  <div class="newsletter-card">
    <table>
      <tr>
        <td colspan="2">
          <div class="nl-card-name">
            <%= article.name %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="nl-car-photo-td">
          <div class="nl-card-photo">
            <img src="<%= article.photo %>" alt="">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nl-card-location">
            <%= article.location %>
          </div>
        </td>
        <td class="nl-card-date-td">
          <%= l article.date, format: '%d/%m' %>
        </td>
      </tr>
    </table>
  </div>

