.home-club-content {

}

.home-club-history {
  position: relative;
  padding-bottom: 30px;
  height: 69vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-club-learn-more {
  display: flex;
  justify-content: flex-end;
}


.link-to-class {
  color: $white;
  width: 160px;
  i {
    color: $red;
  }
  &:hover {
    text-decoration: none;
    transition: 1s ease;
    color: $red;
    border: 1px solid red;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
