.participants-container {
  display: flex;
  justify-content: flex-end;
  display: none;
}

.participants-text {
  background-color: $orange;
  color: $white;
  text-align: right;
  width: fit-content;
  padding: 0 9px 0 10px;
}

.display-participants {
  display: flex;
}

.contest-little-card{
  background-color: white;
  flex-wrap: wrap;
  min-height: 40px;
  padding: 5px;
  border-radius: 3px;
  margin-top:10px;
  display: flex;
  justify-content: space-between;
  color: $gray;
  &:hover{
    color: $white;
    background-color: $orange
  }
}
a:hover {
  text-decoration: none;
}

.contest-list-like-comment {
  color: $orange;
  &:hover {
    color: $white;
  }
}

.contest-little-card-info-picture {
  display: flex;
}
.contest-little-card-picture {
  width: 40px;
  background-position: center center;
  background-size: cover !important;
  border-radius: 2px;
  margin-right: 5px;
}
