// Specific CSS for your home-page
.wrapper {
  width:100%;
  padding: 10px 0 10px 0;
  min-height: 45vh;
  &-black {
    background-color: $gray;
    color: $white;
  }

}

.carousel-div-picture {
  background-position: center center;
  background-size: cover !important;
  background-color:red;
}

.carousel-partners-height {
  height: 40vh;
}

.carousel-events-height {
  height: 75vh;
}
