
.carousel-div-picture {
  background-position: center center;
  background-size: cover !important;
  border-radius: 3px;
  margin-bottom: 10px;
}

.carousel-partners-height {
  height: 170px;
}

.carousel-events-height {
  height: 75vh;
}


.in-construction {
  position: absolute;
  background-color: red;
  height: 50%;
  width: 50vh;
  top: 25%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #FFF;
  animation-duration: 5s;
  animation-iteration-count: 4;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: $white;
    font-size: 40px;
    font-weight: bolder;
    border: 2px solid $red;

  }
}

.form-area {
  display: flex;
  justify-content: center;
}

.logo-homepage{
  // background-color: $gray;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $logo-font;
  // height: 85vh;

}

.logo-homepage-gradient {
    background: #C9103B;
    background-size: 400% 400%;
    font-size: 40px;
    color: #FFF;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
