.home-results {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $white;
  background-color: $red;
  &:hover {
    color: $white;
    text-decoration: none;
    background: linear-gradient(270deg, #101eec, #ec10e4);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
  }
}

.result-on-mobile-wrapper {
  background-color: black;
  margin: 0 -15px 0 -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-on-mobile-content {
  border: solid 1px $red;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  color: $white;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
  justify-content: center;
  background-color: rgba(255,0,0,0.2);
  &:hover {
    color: $red;
    background-color: $white;
    transition: 1s ease;
    text-decoration: none;
  }
}


