.taxes {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: red;
  color: $white;
  padding: 5px;
  width: 100%;
  text-align: center;
  &:hover {
  background-color: $orange;
  }
}

.taxes-shift {
  color: $white;
  background-color: $white;
}

.taxes-close {
  font-size: 26px;
  position: absolute;
  right: 10px;
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  z-index:1;
}

.div-close {
  display: none;
}





