.body-tricross {
  background-color: #243E21;
  color: #ABC83E;
  min-height: 100vh;
  font-family: fantasy;
}

.tricross-link {
  font-weight: bold;
  background-color: red;
  padding: 22px;
  color: white;
  &:hover{
    color: white;
    background-color: #243E21;
  }
}

.tricross-title-content {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.wrapper-homepage {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center center;
  background-size: cover !important;
}

.subscription {
  height: 150px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(270deg, #246641, #dcea15);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  &:hover {
    background: linear-gradient(270deg, #342466, #e915ea);
    background-size: 400% 400%;
  }
}

.subscription-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.countdown {
  text-align: center;
}

.tricross-picture {
  height: 70vh;
  background-position: center center;
  background-size: cover !important;
  border: solid white 13px;
  margin-bottom: 20px;
}

.white-link {
  color: white;
  &:hover {
    font-size: 30px;
    font-weight: bold;
    color:white;
  }
}

.icon-content{
  font-size: 50px;
  color: white;
  text-align: center;
}

.poster-tricross {
  height: 100%;
  display: flex;
  align-items: center;
}
