<div class="nl-toggle-content">
  <div class="nl-toggle-mail-texte">
    <div class="nl-toggle-mail">
      <i class="fas fa-calendar-check"></i>
    </div>
      <p>
        Date d'envoi de la prochaine newsletter :
        <%= @newsletter_setup.send_newsletter_date %>
      </p>
  </div>
  <%= link_to edit_newsletter_path(1) do %>
    <div class="nl-toggle">
      <i class="far fa-edit"></i>
    </div>
  <% end %>
</div>
