<div id="nl-date">
  <div class="nl-toggle-content">
    <div class="nl-toggle-mail-texte">
      <div class="nl-toggle-mail">
        <i class="fas fa-calendar-check"></i>
      </div>
        <p>
          Date d'envoi de la prochaine newsletter :
          <%= @newsletter.send_newsletter_date %>
        </p>
    </div>
    <%= simple_form_for @newsletter, remote: true do |f| %>
      <%= f.input :send_newsletter_date, collection: 1..15 %>
      <%= button_tag(type: 'submit', class: 'button-remove-css') do %>
        <i class="fas fa-check-circle"></i>
      <% end %>
    <% end %>
  </div>
</div>
