<div class="d3-member-content">
  <div class="d3-member-picture">
    <img src="<%= helper_user_picture(member) %>" class="d3-member-picture">
  </div>
  <div class="d3-member-fullname">
    <%= member.firstname %>
  </div>
</div>
