<div class="container">
  <div class="row">
    <h3>Mes notifications</h3>
    <% @my_notifications.each do |notification| %>
      <%  if !notification.read %>
        <div class="notification-content">
          <%= l notification.created_at, format: '%d %B %Y' %>
          <%= Article.find(notification.article_id).name %>
          <%= link_to "Voir", article_path(notification.article_id), class: "btn btn-danger" %>

          <%= notification.read %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>

