<div class="container">
  <div class="row">
    <h3>Mes notifications</h3>
    <div class="notifications-content">
      <% @my_notifications.each do |notification| %>
        <%  if !notification.read && !notification.article_id.nil? %>
          <div class="notification-content">
            <%= link_to article_path(notification.article_id) do %>
              <div class="notification-link">
                  <%= l notification.created_at, format: '%d %B %Y' %>
                  <%= Article.find(notification.article_id).name %>
              </div>
            <% end %>
            <div class="notification-trash">
              <%= render 'form_notification', {notification: notification} %>
            </div>
          </div>
        <% end %>

      <% end %>

    </div>
  </div>
</div>

