<div class="col-sm-4">
  <%= link_to edit_user_path(user) do %>
     <i class="far fa-edit"></i>
  <% end %>
  <%= user.lastname.upcase %>
  <%= user.firstname %>
  <% if !user.member %>
    <i class="fas fa-user-alt-slash user-no-member"></i>
  <% end %>
</div>
