<% if admin? %>
  <div class="container">
    <div class="row">
      <h3>Liste des inscritpions sur le web</h3>
      <% @web_subscritpion_users.each do |new_user| %>
        <%= render 'user_bo_card', {user: new_user} %>
      <% end %>
    </div>
    <div class="row">
      <h3>Tous les membres</h3>
      <% @alpha_letters.each do |letter| %>
        <% user_by_letter(letter) %>
        <% if @user_by_letter.length!=0 %>
          <h3><%=letter%></h3>
          <div class="row">
            <% @user_by_letter.each do |user| %>
              <%= render 'user_bo_card', {user: user} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

