<div class="footer">
  <p>Angoulême Triathlon</p>
  <p>Maison des Sports</p>
  <p>Rue des Mesniers </p>
  <p>Domaine de la Combe</p>
  <p>16710 Saint Yrieix sur Charente</p>

  <a href="mailto:angoulemetriathlon@gmail.com?Subject=Demande de renseignements">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="https://www.facebook.com/JSATriathlon/" target="_blank">
    <i class="fab fa-facebook-square"></i>
  </a>

</div>
