<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>Angoulême Triathlon</p>
      <p>Maison des Sports</p>
      <p>Rue des Mesniers </p>
      <p>Domaine de la Combe</p>
      <p>16710 Saint Yrieix sur Charente</p>

    </div>
    <div class="col-xs-12 col-sm-6">
      <p>FFTRI</p>
      <p>Réglementation</p>
      <p>AMA</p>
    </div>
  </div>
</div>

  <a href="mailto:angoulemetriathlon@gmail.com?Subject=Demande de renseignements">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="https://www.facebook.com/JSATriathlon/" target="_blank">
    <i class="fab fa-facebook-square"></i>
  </a>

</div>
