
  <div class="taxes-shift" id="taxes-shift">
    <i class="fas fa-hands-helping"></i>
    Réduisez vos impôts en aidant le club
    <i class="fas fa-hands-helping"></i>
  </div>
  <div class="taxes" id="taxes">
    <div class="taxes-close">
    </div>
    <%= link_to impots_path do %>
      <div class="taxes-text">
        <i class="fas fa-hands-helping"></i>
        Réduisez vos impôts en aidant le club
        <i class="fas fa-hands-helping"></i>
      </div>
    <% end %>
    <div class="taxes-close" id="taxes-close">
      <i class="fas fa-times-circle"></i>
    </div>
  </div>

