<div class="user-picture" style="background-image: url('<%= helper_user_picture(user) %>')">
  <div class="overlay-user-picture">
    <%= user.firstname %>
    <%= user.lastname[0].upcase %>.
  </div>
</div>
