<div class="user-picture" style="background-image: url('<%= helper_user_picture(user) %>')">
  <div class="user-picture-name">
    <span>
      <%= user.firstname %>
      <%= user.lastname[0].upcase %>
    </span>
  </div>
</div>
