.user-card-content {
  background-color: $white;
  // border: solid 1px $gray;
  position: relative;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
}

.user-card-picture {
  height: 250px;
  background-position: center center;
  background-size: cover !important;
}

.user-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

}

.user-card-profil {
  color: $red;
  text-align: center;
}

.user-card-strava {
  background-color: #E95B24;
  color: white;
  height: 40px;
  width: 40px;
  font-size: xx-large;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
