<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    Nos partenaires
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= render 'homepage_partners_carousel' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="carousel-div-picture carousel-partners-height" style="background-image:url('https://res.cloudinary.com/dmbf8fog4/image/upload/v1546888127/JSA%20Triathlon/cnds.png');">
        </div>
        <div class="correct-xs"></div>
      </div>
    </div>
    <hr>
  </div>
