<div class="wrapper gradient-an-blue-purple wrapper-flex">
  <h1>En cours de préparation, visible uniquement par les administrateurs du site</h1>
  <h3>Inscription 2019/2020</h3>
  <p>Vous trouverez ci-dessous le lien vers les documents à compléter et à adresser à Jean-François H.</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div>
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_100/v1567489698/JSA%20Triathlon/logo_pdf.jpg" alt="">
        </div>
        <div>
          Formalités d'adhésion
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div>
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_100/v1567489698/JSA%20Triathlon/logo_pdf.jpg" alt="">
        </div>
        <div>
          Nautilis
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div>
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_100/v1567489698/JSA%20Triathlon/logo_pdf.jpg" alt="">
        </div>
        <div>
          Licence
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div>
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_100/v1567489698/JSA%20Triathlon/logo_pdf.jpg" alt="">
        </div>
        <div>
          Charte JSA Ecole de Triathlon
        </div>
      </div>
    </div>
  </div>
</div>
