<a href="https://www.angouleme-triathlon.fr/triathlon2023.html">
  <div class="gradient-an-blue-purple">
    <div class="hp-new-content" id="hp-new-content">
      <div class="hp-new-content-hide" id="close-div-button">
        <i class="far fa-times-circle"></i>
      </div>
      <div class="container">
        <div class="row">
          <div class="hp-new">
            <div class="hp-new-title">
              Triathlon Angoulême 2023 - XS & S
            </div>
            <div class="hp-new-title">
              Plus d'informations ici <i class="fa-solid fa-location-dot"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</a>
