<div class="wrapper gradient-an-blue-purple wrapper-flex">
  <a href="https://forms.gle/cZAuZKr6kXTaE16a8", target="_blank">
    <div class="wrapper-form box-shadow-md">
      <div class="tri-icons">
        <i class="fas fa-swimmer"></i>
        <i class="fal fa-bicycle"></i>
        <i class="fas fa-running"></i>
      </div>
      Quels sont vos objectifs sportifs pour 2019 ?
      <i class="far fa-rocket"></i>
    </div>
  </a>
</div>
