
<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    Nos partenaires
  </div>
  <div class="container">
    <div class="row">
      <div id="carousel-partners" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-partners" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-partners" data-slide-to="1"></li>
          <li data-target="#carousel-partners" data-slide-to="2"></li>
          <li data-target="#carousel-partners" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="carousel-div-picture carousel-partners-height" style="background-image:url('https://res.cloudinary.com/dmbf8fog4/image/upload/v1541712520/JSA%20Triathlon/Stadium.jpg');">
            </div>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <div class="carousel-div-picture carousel-partners-height" style="background-image:url('https://res.cloudinary.com/dmbf8fog4/image/upload/v1544109960/JSA%20Triathlon/opel-angouleme-12_lg5jw4.jpg');">
            </div>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <div class="carousel-div-picture carousel-partners-height" style="background-image:url('https://res.cloudinary.com/dmbf8fog4/image/upload/v1544109960/JSA%20Triathlon/probike_jquyzz.png');">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="carousel-div-picture carousel-partners-height" style="background-image:url('https://res.cloudinary.com/dmbf8fog4/image/upload/v1546888127/JSA%20Triathlon/cnds.png');">
              <div class="carousel-caption">
              </div>
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-partners" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-partners" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <hr>
    </div>
  </div>
</div>
