<a href="https://www.angouleme-triathlon.fr/triathlon2023.html">
  <div class="gradient-an-blue-purple">
    <div class="hp-new-content" id="hp-new-content">
      <div class="hp-new-content-hide" id="close-div-button">
        <i class="far fa-times-circle"></i>
      </div>
      <div class="container">
        <div class="row">
          <div class="hp-new">
            <div class="hp-new-title">
              Triathlon Angoulême 2023 - XS & S
            </div>
            <div class="hp-new-title">
              Les résultats ici
            </div>
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto%2F%3Ffbid%3D745698164015344%26set%3Da.579999250585237&show_text=true&width=500" width="500" height="548" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</a>
