<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=2k9g90khf8h0n5odd78onajq44%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FParis" style="border-width:0" width=100% height="600" frameborder="0" scrolling="no">
    </div>
  </div>
</div>
