<div class="container">
  <div class="row">
<!--     <div class="col-xs-12">
      <h3>Partageons nos objectifs de l'année</h3>
      <p>Vous pouvez compléter le formulaire en cliquant sur le lien ci-dessous pour partager vos objectifs. Cela permettra d'organiser des entrainements communs, du co-voiturage... et ensuite de suivre les résultats  </p>
      <a href="https://forms.gle/cZAuZKr6kXTaE16a8", target="_blank">
        <div class="btn btn-danger">
          Compléter le formulaire
        </div>
      </a>
    </div> -->
    <div class="col-xs-12">
      <h3>Les prochaines courses</h3>
    </div>
    <% @contests.each do |contest| %>
      <div class="col-xs-12 col-sm-4">
          <%= render 'homepage_card_template', {article: contest} %>
      </div>
    <% end %>
  </div>
</div>
