<div class="container">
  <div class="row">
    <h3>Divers</h3>
  <% @divers.each do |article| %>
    <div class="col-xs-12 col-sm-6">
      <%= render 'homepage_card_template', {article: article} %>
    </div>
  <% end %>
  </div>
</div>
