<div class="container">
    <div class="row">
    <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691660002/JSA%20Triathlon/forum_des_sports_affiche_dokxkx.jpg')"></div>
        <p>
            Le 9 et 10 septembre prochain se tiendra le Forum des Sports à l’espace Carat. 
        </p>
        <p>
            L’occasion idéal de venir nous rencontrer, d’avoir un aperçu de ce que sont les disciplines enchaînées, et du fonctionnement de notre club. 
        </p>
        <p>
            Sur deux jours nous vous exposerons les projets qui nous tiennent à cœur, avec au programme : 
        </p>
        <div class="forum-title-content">
            <div class="forum-title">
                La relance de l’ecole de triathlon 
            </div>
        </div>
        <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691671403/JSA%20Triathlon/forum%20des%20sports/0-WhatsApp_Image_2023-08-10_at_12.17.38.jpg')"></div>
        <div class="forum-title-content">
            <div class="forum-title">
                La Mixite dans le club 
            </div>
        </div>
        <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691671403/JSA%20Triathlon/forum%20des%20sports/0-WhatsApp_Image_2023-08-10_at_12.17.41.jpg')"></div>
        <div class="forum-title-content">
            <div class="forum-title">
                D3 triathlon/ D3 Duathlon - equipe filles - equipes garcons 
            </div>
        </div>
        <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691671403/JSA%20Triathlon/forum%20des%20sports/0-WhatsApp_Image_2023-08-10_at_12.17.39-b.jpg')"></div>
        <div class="forum-title-content">
            <div class="forum-title">
                Groupe longue distance et projet Embrunman 2024 !
            </div>
        </div>
        <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691671403/JSA%20Triathlon/forum%20des%20sports/0-WhatsApp_Image_2023-08-10_at_12.17.40.jpg')"></div>
        <div class="forum-title-content">
            <div class="forum-title">
                Notre collaboration avec l’ANC 
            </div>
        </div>
        <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691671403/JSA%20Triathlon/forum%20des%20sports/0-WhatsApp_Image_2023-08-10_at_12.17.39.jpg')"></div>
        <div class="forum-title-content">
            <div class="forum-title">
                Championnat du monde IRONMAN Nice 2023
            </div>
        </div>
        <p>
            Nous en profiterons pour regarder en direct live le championnat du monde IRONMAN qui se déroulera à Nice, le dimanche 10, avec notre favori et sociétaire de la JSA Triathlon, et Champion du monde ITU : Clément Mignon 😊 .
        <div class="forum-picture" style="background-image: url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1691674321/JSA%20Triathlon/forum%20des%20sports/2023NiceClement.jpg')"></div>
        </p>
        <p>
            Venez découvrir notre club et les projets pour la saison à venir ! 
        </p>




    <div class="btn btn-primary">Planning des entrainements</div>
    <div class="btn btn-primary">Inscription</div>
    </div>
</div>