<div class="container">
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="">
            <img src="https://lh3.googleusercontent.com/5JUyOGrvYhQE0L--MWQvF0c-Bkna-TIJG9kRFzkRsektg8QKaCmT32v_L4hTOKsS-ganrze9om2sM7W3MwsgNfq6smg_Q4pIfzDLnYJykv4-aMc3GFC6b99Hph7C3_IOHWyzEB-wwCdAxQwDXXvTkVMdnNhn9MZer3uBc7fiW1C43rnnbyGyTz4pN19OBSSlfPBuYW96hBObdAY8cyyuqhWrQj18uuu-n_IAXAvNnsrpxPN10xm--A9ys-ENqJNsQa-wm80EiB4k0i-HKSOon-Pptalb4eTTKCqswHYKbq35YsCjpQxetr62RQ9gAsNQmai7-L0E4IVcjbl_RnISazAzL8FSFwiHTaCihvPKeVF8EGOpGRGAISTjykAIDAI7dlymBgLe1D1UxKsfE1y9lIew2b3U2UKmXKK_F30zee6mHMbpZmsl2VzlOtZl5EuGXYD8Ey3RGk8gLFqp4gS6bjGtTu6vqPCvq7wCN02fj2oWoEBDoNg9O2zW9kNjhOxWxKIbIKBF6UZbWa7B97koetKyBNJnTFE2AquvRJCvzDeL4AuKrR2Xim2OoVUHhpd1yCpX1QTCADzwLiGONKaEHipQtbCfNu3mIL2f01PAUQiJbxdW4hzmbXiX0n0uIy2HenqyMhPCHfbXRgd45OrfXbtznyglMSqTsvX43uT_aG3vVK0MLM7Y--FtNRbtnDk5FhYvDP1ZPMnUfuVKkPI=w1168-h777-no" alt="...">
            <div class="carousel-caption">
              ...

          </a>
          </div>
        </div>
        <div class="item">
          <img src="https://lh3.googleusercontent.com/aUNV_1cFOMG2p8Vy_wvzuE67eGcBFUo95q1-TwnfmzsWPUkIOiX9_fDj4AyCRFSMJB9lOlPxbgUMmkGw4QSc3hkF7Ss5wZeCgZIFy-1Vc3DRB7JjmxJALgad_xWLcC_t6SgNFpOz4PXqHqEtr_3L06d8mt9KFZ2L3znWZRb6e-oIjxFhS0xdf4sftOZU3SGfJMKjbBtM_6WzHcXcVw_EW2y8k2Rm_C2rGojTb6g27UhAqOLUEarG5Zi0PShAZpjLQSuG7Z3Zw1-f3wzl6R-z8KL-B0Yuiotjm1fljfJUQsIfnIswodUN5W2oYCkjw_KpHheLZ6JiO-vuNcaBgJbUOQLBQ7mNpixEzfUeYIGWEPozHCBosj-Vx6IXgSXoGIKwE3MdntkibcqI5arRlbmZP7RHub5EIIAxjyPW8UeGnuV7P5C0viFv4vrAwZy1mMWodvycwOWCHSnNg6S3CRQoAvo9BmDd24TQ9nedFP_PxApoIFZ45gtZzhSPZCQBwTBymQ6iGnH94miqUg4yoOgDnI4HXgReKLLwmHDwP0ur7Fw5koNGcSH7HsDWvRIRTNxeCml2HQsR55-kmjY4jrha4JV_uHZYxmodKMXyeiVckfSB7CFW0zweqL2Yt1zRkjcVLoQ-HI6lT6hH2htjccZt9oKAxodiDf97Q646rp5NbTAeqsDtMiFNjr-pyKxm9zc9jTAJ0PKxeHaC1qLkEig=w462-h307-no" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="https://lh3.googleusercontent.com/VYj-2-CVkVCOcCjPKf9Sgy4Ckkrd_V94ppsiJpNtrDt3QKju5A8CxEnYMfo5ElFNkm6WqCCY5cuUJY4SL9dUORVBAqJHe_UrLEkzGWNz1FzN050ZyBDFKyE0PntAua0Xuy4w4T78giMo2jfsZ4fAVCbINqt6InFwcNJxjVG5meHzR5n3dDT4oUSIulW8dsJYAwaRsG7FjJbEpCkvcT_dl5xXteE9XiuN1IhN7nBZ_uj099vAqgCwknjZaiksiKTjvAdsVj6_tRuq1hvBMoOfQ030dyL_e1qqsAnIeJC2SO-Cb-54YvUiCIMqX5WL3MmKTQr2acBW0gVoxD5umTJKrAHTrC-YwruN9mtqdhfgKEb7D3Dd9mLROaKmTNMy3CgaqbY4HBzVDANe5XsHfzSlOZYhB6e60iP2noKnFlxRhjV_XrsIXLo9HjnUQIiJv-B6ZLcV9-XrKjcSbZYXji4kC63kWLbHy_YQkyP0WeLvLcGlfPBIWyP7j5ONyTaJm5qwMB-rXNGliz5xrMswuLTNYq6Y0SOh8YVOELk5UJrsYlmFb7XkX5X7X0GQnepAKPG0WeJzPzYXxiPXl9AM_G8n0jRufemt_G7Zra3KRkXNVRJjy9aBxoBEOBM_Xv1q2vKlHM6BdfI0ZgwbJfQy-MUEnFqUmfKFZZ0tJw_ibX4wBWKtVvBBDsswlGWJk7lDvTCeaeDT8ne9D2bnzUdg6e0=w517-h777-no" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card">
        <div class="home-card-title">
          <i class="far fa-calendar"></i>
          <p>Events</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card">
        <div class="home-card-title">
          <i class="fas fa-running"></i>
          <p>Workouts</p>
        </div>
      </div>
    </div>
    <%= link_to calendar_path do %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/c_crop,g_auto,h_300/v1541453183/JSA%20Triathlon/calendrier_agenda.jpg)"">
          <div class="home-card-title">
            <i class="far fa-calendar-alt"></i>
            <p>Agenda </p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to pictures_path do %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/c_crop,g_auto,h_300/v1505038846/kcosaebengklioqznlub.jpg)">
          <div class="home-card-title">
            <i class="fas fa-images"></i>
            <p>Pictures</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card">
        <div class="home-card-title">
          <p>Partners</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/c_crop,g_auto,h_300/v1541453464/material_y31jlr.jpg)">
        <div class="home-card-title">
          <i class="fas fa-bicycle"></i>
          <p>Materials</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer'  %>
