<div class="container">
  <div class="row">
    <h3>Mes annonces</h3>
    <% @my_ads.each do |ad| %>
      <div class="col-xs-12 col-sm-6">
        <%= render 'products/card_product', product: ad %>
      </div>
    <% end %>
  </div>
</div>
<% if member? %>
  <div class="hidden-sm hidden-md hidden-lg">
    <%= link_to new_product_path do %>
      <div class="plus-button plus-button-mobile">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  </div>
  <div class="hidden-xs">
    <%= link_to new_product_path do %>
      <div class="plus-button plus-button-desktop">
        <i class="far fa-edit"></i>
         Déposer une annonce
      </div>
    <% end %>
  </div>
<% end %>
