<div class="container">
  <div class="row">
    <div class="">
      <div class="subscription-title">
        Inscription 2020/2021
      </div>
      <div class="">
        <p>
          C'est reparti pour une nouvelle saison
        </p>
        <div class="center-button">
          <%= link_to "Planning des entrainements", calendar_path, class: "btn btn-info" %>
        </div>
        <p>
          Le montant de l’adhésion annuelle comprend la cotisation Club, la cotisation à la ligue Nouvelle Aquitaine et la licence Fédération Française de Triathlon.
        </p>
        <table>
          <tr class="table-first-line">
            <td>Catégorie</td>
            <td>
              <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1544263646/JSA%20Triathlon/logo-fftri.jpg" class="logo-width" alt="">
              <p>
                FFTRI
              </p>
            </td>
            <td>
              <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1599747031/JSA%20Triathlon/Logo_LNA.png" class="logo-width" alt="">
              <p>
                Ligue NA
              </p>
            </td>
            <td>
              <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1544263646/JSA%20Triathlon/logo-fftri.jpg" class="logo-width" alt="">
              <p>
                Total FFTRI
              </p>
            </td>
            <td>
              <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1555969918/JSA%20Triathlon/logo.jpg" class="logo-width" alt="">
              <p>
                Club
              </p>
            </td>
            <td class="total-top">Total annuel</td>
            <td>Equivalent mensuel</td>
          </tr>
          <tr>
            <td>Jeunes : de 6 ans (mini poussin) à 19 ans (Junior)</td>
            <td>25 €</td>
            <td>16 €</td>
            <td>41 €</td>
            <td>140 €</td>
            <td class="total-middle">181 €</td>
            <td>15 €</td>
          </tr>
          <tr class="table-gray-line">
            <td>Licence Jeune SANS ENTRAINEMENTS (1)</td>
            <td>25 €</td>
            <td>16 €</td>
            <td>41 €</td>
            <td>50 €</td>
            <td class="total-middle">91 €</td>
            <td>8 €</td>
          </tr>
          <tr>
            <td>Senior et Vétéran Compétition</td>
            <td>74 € </td>
            <td>23 €</td>
            <td>97 €</td>
            <td>140 €</td>
            <td class="total-middle">237 €</td>
            <td>20 €</td>
          </tr>
          <tr class="table-gray-line">
            <td>Licence Adulte SANS ENTRAINEMENTS (1)</td>
            <td>74 € </td>
            <td>23 €</td>
            <td>97 €</td>
            <td>50 €</td>
            <td class="total-middle">147 €</td>
            <td>12 €</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="total-bottom"></td>
            <td></td>
          </tr>
        </table>
        <ul>
          <li>(1) La licence « SANS ENTRAINEMENTS » ne permet pas l’accès à l’ensemble des créneaux CLUB.</li>
          <li>Remise de 10% (sur le total) à partir du 2e licenciés de la même famille.</li>
          <li>Pénalité de Retard en cas de dépassement de la date limite de dépôt des dossiers = 30€</li>
          <li>Licence offerte pour les éducateurs bénévoles permanents (mini 1 intervention par semaine).</li>
          <li>Licence offerte pour les arbitres + prise en charge des frais de déplacement.</li>
          <li>Remise de 20% pour les renouvellements avec le code PROMO COVID 2020 !! (Cumulable avec la remise famille).</li>
        </ul>
        <h4>MODALITES ADHESION AU CLUB :</h4>
        <h5>1ère adhésion :</h5>
        <ul>
          <li>
            Inscription en ligne sur le site : <a href="https://espacetri.fftri.com/" target="_blank">fftri.com</a> (à imprimer et signer) ou formulaire « licence FFtri » renseigné signé
          </li>
          <li>
            le formulaire de demande d'entrée à Nautilis (1 seul par personne, même s'il y en a 2 dans le fichier) + 1 photo
          </li>
          <li>
            un certificat médical de non contre-indication de la pratique du Sport en compétition,
          </li>
          <li>
            le règlement par chèque
          </li>
          <li>
            pour les mineurs, la Charte école de triathlon signée par les parents
          </li>
        </ul>
        <h5>Renouvellement :</h5>
        <ul>
          <li>
            Inscription en ligne sur le site : <a href="https://espacetri.fftri.com/" target="_blank">fftri.com</a> (à imprimer et signer)
          </li>
          <li>
            Le formulaire de demande d'entrée à Nautilis (1 seul par personne, même s'il y en a 2 dans le fichier) + la carte Nautilis
          </li>
          <li>
            Tous les 3 ans, un certificat médical de non contre-indication de la pratique du Sport en compétition
          </li>
          <li>
            le règlement par chèque
          </li>
        </ul>

        <div class="col-xs-12 col-sm-3">
          <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1599828184/JSA%20Triathlon/JSA_Nautilis_2020-21.pdf" target="_blank">
            <div class="download-card">
              Formulaire Nautilis
              <div class="download-card-arrow">
                <i class="fas fa-arrow-alt-circle-down"></i>
              </div>
            </div>

          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567667847/JSA%20Triathlon/2020-Formulaire_licence__JSATRI.pdf" target="_blank">
            <div class="download-card">
              Formulaire licence FFTri
              <div class="download-card-arrow">
                <i class="fas fa-arrow-alt-circle-down"></i>
              </div>
          </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1599829411/JSA%20Triathlon/certificat_medical_mod%C3%A8le.pdf" target="_blank">
            <div class="download-card">
              Certificat médical
              <div class="download-card-arrow">
                <i class="fas fa-arrow-alt-circle-down"></i>
              </div>
          </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-3">
          <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567667847/JSA%20Triathlon/2020-Re%CC%80glement-JSATri.pdf" target="_blank">
            <div class="download-card">
              Réglement du club
              <div class="download-card-arrow">
                <i class="fas fa-arrow-alt-circle-down"></i>
              </div>
            </div>
          </a>
        </div>
        <p></p>
        <p>
          Les dossiers complets sont à retourner à :
        </p>
        <ul>
          <li>
            JS ANGOULEME TRIATHLON DUATHLON
          </li>
          <li>
            M. HASCOET Jean-François – 75, Rue Lautrette, Apt 14 - 16000 ANGOULEME
          </li>
          <li>
            <a href="mailto:jsa.triathlon@gmail.com" class="">
              jsa.triathlon@gmail.com
            </a>
          </li>
        </ul>

        <p>
          Si vous avez des questions d'ordre sportif, vous pouvez contactez  :
        </p>

        <% @contactables.each do |contact| %>
          <%= render 'shared/visit_card', {contact: contact} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

