<div class="gradient-an-blue-purple">
  <div class="hp-new-content" id="hp-new-content">
    <div class="hp-new-content-hide" id="close-div-button">
      <i class="far fa-times-circle"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="hp-new">
          <div class="hp-new-title">
            Inscription 2019/2020
          </div>
          <div class="hp-new-explanation">
            <p>
              C'est reparti pour une nouvelle saison
            </p>
            <p>
              Vous trouverez ci-dessous les informations, plannings d’entraînements et les fichiers constituant le dossier d'inscription :
            </p>
            <img class="hp-new-calendar" src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567666178/JSA%20Triathlon/Capture_d_e%CC%81cran_2019-09-05_a%CC%80_08.48.47.png" alt="">
            <p>
              Le tarif de l'adhésion club incluant la licence FFTri pour l'année 2020 est de 240 € pour un adulte (réduction pour couple ou famille - 10%).
            </p>
            <p>
              Pour les non-licenciés 2019, vous pouvez prendre une « licence longue » à partir du mois de septembre 2019 ; c’est-à-dire qu’en prenant une licence 2020, le reliquat de la licence 2019 est offert ! Votre licence pourrait donc durer entre 12 et 16 mois pour le prix de 12.
            </p>

            Pour vous licencier, il faudra fournir :
            <ul>
              <li>
                le formulaire de prise de licence renseigné (ou l'impression de la demande faite sur le site FFTri),
              </li>
              <li>
                le formulaire de demande d'entrée à Nautilis (1 seul par personne, même s'il y en a 2 dans le fichier) + 1 photo
              </li>
              <li>
                un certificat médical de non contre-indication de la pratique du Sport en compétition,
              </li>
              <li>
                le chèque
              </li>
            </ul>



            <div class="col-xs-12 col-sm-3">
              <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567667847/JSA%20Triathlon/2020-Formalite%CC%81s_d_adhe%CC%81sions.pdf" target="_blank">
                <div class="download-card">
                  Formalités d'adhésion club
                  <div class="download-card-arrow">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-3">
              <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567667847/JSA%20Triathlon/2020-JSA_Nautilis.pdf" target="_blank">
                <div class="download-card">
                  Formulaire Nautilis
                  <div class="download-card-arrow">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                  </div>
                </div>

              </a>
            </div>
            <div class="col-xs-12 col-sm-3">
              <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567667847/JSA%20Triathlon/2020-Formulaire_licence__JSATRI.pdf" target="_blank">
                <div class="download-card">
                  Formulaire licence FFTri
                  <div class="download-card-arrow">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                  </div>
              </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-3">
              <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1567667847/JSA%20Triathlon/2020-Re%CC%80glement-JSATri.pdf" target="_blank">
                <div class="download-card">
                  Réglement du club
                  <div class="download-card-arrow">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                  </div>
                </div>
              </a>
            </div>
            <p></p>
            <p>
              Les dossiers complets sont à retourner à :
            </p>
            <ul>
              <li>
                JS ANGOULEME TRIATHLON DUATHLON
              </li>
              <li>
                M. HASCOET Jean-François – 75, Rue Lautrette, Apt 14 - 16000 ANGOULEME
              </li>
              <li>
                <a href="mailto:jsa.triathlon@gmail.com" class="btn btn-info">
                  jsa.triathlon@gmail.com
                </a>
              </li>
            </ul>
            <p>
            </p>
            <p>
            </p>
            <p>
            </p>

            <p>
              Si vous avez des questions d'ordre sportif, vous pouvez contactez notre entraîneur :
            </p>
            <p>
              Grégory Gabillard :
              <a href="mailto:gabillardsport@gmail.com" class="btn btn-info">gabillardsport@gmail.com</a>
              ou
              <a href="tel:0677683916" class="btn btn-info">06.77.68.39.16</a>
            </p>

            <p>
              Vous pouvez aussi passer nous voir sur notre stand au Forum Sports et Santé, les 7 et 8 septembre, espace Carat ou vous présenter à l’un des entraînements pour voir comment ça se passe et discuter avec l’encadrant.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
