<div class="container">
  <div class="row">
    <div id="calendar">
      <h3>Calendrier des séances avec lieux et coachs</h3>
      <%= render 'google_calendar' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="typical_session">
      <h3>Pour vous aider dans la construction de vos séances</h3>

      <a href="https://wikitri.fftri.com/">
        <div >
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1604405204/JSA%20Triathlon/Capture_d_e%CC%81cran_2020-11-03_a%CC%80_12.55.14.png" alt="" class="training-picture">

        </div>
      </a>
    </div>

    <div id="week_session">
      <h3>Liste des séances de la semaine</h3>
      <% @week_articles.each do |training| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'homepage_card_template', article: training %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="strava-iframe" id="strava">
  <iframe allowtransparency frameborder='0' height='267' scrolling='no' src='https://www.strava.com/clubs/197315/latest-rides/8da01a7ca665b313db51e3ace8814d782e71112f?show_rides=false' width='500'></iframe>
</div>
