<div class="strava-iframe">
  <iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/197315/latest-rides/8da01a7ca665b313db51e3ace8814d782e71112f?show_rides=false' width='300'></iframe>
</div>
<div class="container">
  <div class="row">
    <h3>Liste de tous les entraînements</h3>
    <% @trainings.each do |training| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'homepage_card_template', article: training %>
      </div>
    <% end %>
  </div>
</div>
