<div class="container">
</div>
<div class="container">
  <div class="row">
    <div id="typical_session">
      <h3>Pour vous aider dans la construction de vos séances</h3>

      <a href="https://wikitri.fftri.com/">
        <div >
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1604405204/JSA%20Triathlon/Capture_d_e%CC%81cran_2020-11-03_a%CC%80_12.55.14.png" alt="" class="training-picture">

        </div>
      </a>
    </div>

    <div id="week_session">
      <h3>Retrouvez toutes les séances sur l'application IDO</h3>
      <a href="https://www.idosport.app/login" target='_blank'  >
        <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1683904464/ujigoyq6hhqbtbva24kh.jpg" alt="IDO Picture" class="trainin-picture">
      </a>  
    </div>
    
  </div>
</div>
<div class="strava-iframe" id="strava">
<iframe allowtransparency frameborder='0' height='454' scrolling='no' src='https://www.strava.com/clubs/197315/latest-rides/8da01a7ca665b313db51e3ace8814d782e71112f?show_rides=true' width='300'></iframe>
  <iframe allowtransparency frameborder='0' height='267' scrolling='no' src='https://www.strava.com/clubs/197315/latest-rides/8da01a7ca665b313db51e3ace8814d782e71112f?show_rides=false' width='500'></iframe>
</div>
