<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      
      <% WeekDay.all.each do |day| %>
        <p class="workout-th"><%= day.name %></p>
        <% if !@workouts[day.id].nil? %>
          <% @workouts[day.id].each do |workout| %>
            <%= render 'shared/workout_card', {workout: workout} %>
          <% end %>
        <% end %>
      <% end %>

    </div>
    <div class="hidden-xs">
      <table>
        <tr>
          <th class="workout-th">Lundi</th>
          <th class="workout-th">Mardi</th>
          <th class="workout-th">Mercredi</th>
          <th class="workout-th">Jeudi</th>
          <th class="workout-th">Vendredi</th>
          <th class="workout-th">Samedi</th>
          <th class="workout-th">Dimanche</th>
        </tr>
        //each on maximum number of workout on a day
        //create tr with class
          //each with index and test day complete td with card

        <tr class="workout-td">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="workout-td">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="workout-td">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="workout-td">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="workout-td">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div id="typical_session">
      <h3>Pour vous aider dans la construction de vos séances</h3>

      <a href="https://wikitri.fftri.com/">
        <div >
          <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1604405204/JSA%20Triathlon/Capture_d_e%CC%81cran_2020-11-03_a%CC%80_12.55.14.png" alt="" class="training-picture">

        </div>
      </a>
    </div>

    <div id="week_session">
      <h3>Retrouvez toutes les séances sur l'application IDO</h3>
      <a href="https://www.idosport.app/login" target='_blank'  >
        <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/v1683904464/ujigoyq6hhqbtbva24kh.jpg" alt="IDO Picture" class="trainin-picture">
      </a>  
    </div>
    
  </div>
</div>

