<div class="body-tricross">
  <div class="contest-wrapper-homepage" >
    <div class="poster-tricross" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/v1682183149/JSA%20Triathlon/tri_Angoule%CC%82me.jpg')">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="tricross-title-content">
        Triathlon 2023 S & XS
      </div>
      <div class="tricross-title-content">
        Les résultats
      </div>
      <p>
        Le président, les bénévoles, et tous les organisateurs remercient tous ceux d’entre vous qui ont contribué à faire de cette 2e édition du triathlon d’Angoulême une réussite !
      </p>
      <p>
        Le soleil a fait briller nos champions régionaux! Et quel plaisir de vous voir vous exprimer sur ces courses… 
      </p>
      <p>
        Vous étiez plus de 400 à représenter la beauté du triathlon, ici à Angoulême, et nous vous en remercions. 
      </p>
      <p>
        A l’année prochaine !
      </p>

        <a href="https://ok-time.fr/course/triathlon-xs-championnat-regional-jeunes/" target="_blank">
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="subscription-content">
              <div class="subscription box-shadow-md">
                XS CHAMPIONNAT RÉGIONAL JEUNES
              </div>
            </div>
          </div>
        </a>



        <a href="https://ok-time.fr/course/triathlon-s-jeune-championnat-regional/" target="_blank">
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="subscription-content">
              <div class="subscription box-shadow-md">
                S "JEUNE" CHAMPIONNAT RÉGIONAL
              </div>
            </div>
          </div>
        </a>


        <a href="https://ok-time.fr/course/triathlon-s-open-2/" target="_blank">
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="subscription-content">
              <div class="subscription box-shadow-md">
                TRIATHLON S "OPEN"
              </div>
            </div>
          </div>
        </a>


        <a href="https://ok-time.fr/course/triathlon-s-relais-2/" target="_blank">
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="subscription-content">
              <div class="subscription box-shadow-md">
                TRIATHLON S "RELAIS"
              </div>
            </div>
          </div>
        </a>

    </div>
  </div>
</div>
