<div class="body-tricross">
  <div class="container">
    <div class="row">
      <h3>Tricross 2019</h3>
      <div class="countdown">
        <iframe width="352" height="80" src="https://w2.countingdownto.com/2563492" frameborder="0"></iframe>
      </div>

      <p>
        Bonjour à tous,
      </p>

      <p>L'organisation du 5ème TRI CROSS du Grand Angoulême est désormais lancée !! Il se déroulera le dimanche 06 Octobre.</p>
      <p>Et nous avons besoin de vous tous !!</p>
      <p>Comme vous le savez, une organisation même la plus modeste comme la notre, nécessite beaucoup de bénévoles investis pour notre Club !!</p>

      <p>Merci donc de prendre quelques minutes, avant que ne débute l'été et les vacances, pour compléter le lien ci-dessous</p>

      <p>L'équipe organisatrice et moi-même vous remercient de l'investissement et du temps que vous pourrez consacrer pour cette nouvelle organisation !</p>

      <p>Sportivement !</p>

      <p>William BOUCARD</p>
      <p>06 99 82 37 01</p>

      <a href="https://docs.google.com/spreadsheets/d/14fbabK5EmTh4j4DYr1j_FGJshe37VG8cjSabZGJfMnI/edit?usp=sharing" target="_blank">
        <div class="subscription-content">
          <div class="subscription box-shadow-md">
            Inscription bénévoles
          </div>
        </div>
      </a>

    </div>
    <div class="row">
    <p>Venez Nombreux découvrir ou re découvrir le CROSS TRIATHLON  du Plan d'eau de St YRIEIX.</p>

    <p>Inscription en LIGNE OUVERTE : cliquez-ici</p>
    <a href="https://inscriptions-teve.fr/triathlon-cross-grand-angouleme-2019/select_competition?fbclid=IwAR1VF5S3PY1btMttL07IUUQetL1UqEPvLhXraFU3X7yrzc1W5x5XY_HO_A4" target="_blank">
      <div class="subscription-content">
        <div class="subscription box-shadow-md">
          Inscription à l'épreuve
        </div>
      </div>
    </a>

    <p>La natation se déroule sur le plan d'eau,en face de l'école de voile, les parcours VTT et course à Pied se déroulent autour du plan d'eau et sur la commune de St-YRIEIX.</p>

    <p>Vous trouverez ci-dessous le lien vers le réglement :</p>

    <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1550509197/JSA%20Triathlon/Reglement_TRI_CROSS.pdf" target="_blank">cliquez ici</a>


    <img src="https://lh3.googleusercontent.com/fEenPGzJIwfYjp0_M9SeBxGEIy9HoxzhklsgJ9NwWXF6nYMHNkctVW4eTkedvi36E1UJ5R-CJfCe26pxM1tk-fQ0BdKRZU7PdwsGeyyxwqOtTwtdmv0Qu3SbURNE2mUkktdORdNoRckq7O5MSVFcq4fpMJrl43LpA3IZ7yeWoGzXGvChgFKazhxZq1ZTSZLgctbC5uKovb6qr0NK22HoZA7siAJkbhlwiuVSEhC_RdlxKYkWTEmcHoNhMAHldj7LF1-FXeEvUOImNQ3J2kCqhFhSZpkcxIRUf5WbMccEFT4bpuILCFWuuWT9p2I9YGTc9pM45q-paYGqytNmRG8AoOznGhxLVt-bUfHZOleEZ4npf03PHgXj-_xi50GFF3LIql1jLoo6CYLZ9mWPodRk4bB1uqTOh4k7c65XE7dkOq18KM4tBfrSl3f2N0zXHETQz2LN0Ko0POgHgmDYthI8K8heRXIy0uPUGzsQfWFUCv_Vzo3s1Z1wu59L-pHURaKT3ePqzqXbYHbpIdjGs8E59IOgKtLfdSanwjtQNnLVoL8GR-BDIUwxYNtuEeik1E8Tawh6wiMraHHFYBNVd4LvoNU3-7rGs-5_ifWKQ5_AHYOF1zkcxnE8ZD4TaK-Dyz6VQlaOUO9EjUODQ49JpxyYTlm9UJdIYA=w1280-h875-no" alt="">

    <img src="https://lh3.googleusercontent.com/NVOJL0cr2RqHGrk9rfEbIxQ_UGXDwaAV8Q4zKALFTbXNzvFBACBAgm5gvdgrsZ6PNuEpvK4MxKZ-88hVfvtugMs0HP2oO9vgy9R1_k0_nKQS3D5ai2y1X4Z_FMHT-Li4n62eRi5_DFm2rY29Im-iUJ1OziStsTq0k2zvpxLepiXliy12MgWecwxOdltvSGlN4qddOs-Oyu7z446lGJEI4Z6sC-eJSIP3UaFfY_Q-IuoUOZLJ2dgxUgK1xFNP_kFTnzoujJ0PCR36Hsa0rbVArofh2oNaeoBNQbNNBU0kods18trVpS9hVHY55samxdH5ELeo7qMxMj1eQ2EdJerdBeJtMnp-vkabzqCQeT7OwzNUOuyUkV7mHbCEnsF1-XzYlIJssPEfxP7VLyGnC-I2LE-_waq9KDjuyzRXaYib3cu1xokt06_q__nvKcYSR0vNzHnEwdtQdlYLAKFbhEkIgGm3o0RzkTs8VY6FAmU1GHosD0vr-gqPF9HUy7QHsoDx9-so_DgbEZ1ApLcu4cTXce-NHHnHdz_vd9fUefxvCY6mO43O7MALSgdyEwdN2fSFwHg4IDUvTetVubLMAtgmQZQU2IXbRlYY3Bt7qQa9r7i8157FR7p77EPGOKxvQXckvdG4XTmcVDPMd68kizk965X8zgP7XQ=w1280-h878-no" alt="">
    </div>
  </div>

</div>
