<div class="body-tricross">
  <div class="wrapper-homepage" >
    <div class="poster-tricross" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,q_auto:low,w_400/v1568554606/JSA%20Triathlon/20190915-affiche_tricross.png')">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="tricross-title-content">
        Tricross 2019
      </div>
      <p>
        William, Patrick et les organisateurs du Tri-cross remercient tous ceux d’entre vous qui ont contribué à faire de ce millésime 2019 du Tri-cross un grand cru.
      </p>
      <p>
        Les quelques 300 participants ont apprécié votre implication, votre gentillesse et votre bonne humeur.
      </p>
      <p>
        Merci également à tous les participants qui ont également fait de cette journée une belle journée de sport.
      </p>
      <div class="tricross-title-content">
        Résultats
      </div>

      <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1570387122/JSA%20Triathlon/DuathlonCross2019_6_9.pdf" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="subscription-content">
            <div class="subscription box-shadow-md">
              Duathlon Cross (6-9 ans) 2019
            </div>
          </div>
        </div>
      </a>

      <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1570387122/JSA%20Triathlon/TriathlonCross2019_10_13.pdf" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="subscription-content">
            <div class="subscription box-shadow-md">
              Triathlon Cross (10-13 ans) 2019
            </div>
          </div>
        </div>
      </a>

      <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1570387122/JSA%20Triathlon/TriathlonCross2019_XS.pdf" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="subscription-content">
            <div class="subscription box-shadow-md">
              Triathlon Cross XS 2019
            </div>
          </div>
        </div>
      </a>


      <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1570387122/JSA%20Triathlon/TriathlonCross2019_S.pdf" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="subscription-content">
            <div class="subscription box-shadow-md">
              Triathlon Cross S 2019
            </div>
          </div>
        </div>
      </a>


      <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1570387122/JSA%20Triathlon/TriathlonCross2019_M.pdf" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="subscription-content">
            <div class="subscription box-shadow-md">
              Triathlon Cross M 2019
            </div>
          </div>
        </div>
      </a>


      <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1570387121/JSA%20Triathlon/TriathlonCross2019_MRelais.pdf" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="subscription-content">
            <div class="subscription box-shadow-md">
              Triathlon Cross M Relais 2019
            </div>
          </div>
        </div>
      </a>
      <div class="col-xs-12">
        <div class="tricross-title-content">
          Rendez vous l'année prochaine
        </div>
      </div>
    </div>
  </div>
</div>
