<div class="body-tricross">
  <div class="container">
    <div class="row">
      <h3>Tricross 2019</h3>

      <p>
        Bonjour à tous,
      </p>

      <p>L'organisation du 5ème TRI CROSS du Grand Angoulême est désormais lancée !! Il se déroulera le dimanche 06 Octobre.</p>
      <p>Et nous avons besoin de vous tous !!</p>
      <p>Comme vous le savez, une organisation même la plus modeste comme la notre, nécessite beaucoup de bénévoles investis pour notre Club !!</p>

      <p>Merci donc de prendre quelques minutes, avant que ne débutent l'été et les vacances, pour compléter le fichier ci joint et me le retourner.</p>

      <p>L'équipe organisatrice et moi-même vous remercient de l'investissement et du temps que vous pourrez consacrer pour cette nouvelle organisation !</p>

      <p>Sportivement !</p>

      <p>William BOUCARD</p>
      <p>06 99 82 37 01</p>

      <a href="https://docs.google.com/spreadsheets/d/14fbabK5EmTh4j4DYr1j_FGJshe37VG8cjSabZGJfMnI/edit?usp=sharing" target="_blank">
        <div class="subscription-content">
          <div class="subscription">
            Cliquez ici pour vous inscrire
          </div>
        </div>
      </a>

    </div>
  </div>

</div>
