<div class="body-tricross">
  <div class="wrapper-homepage" >
    <div class="poster-tricross" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,q_auto:low,w_400/v1568554606/JSA%20Triathlon/20190915-affiche_tricross.png')">
      <iframe width="352" height="80" src="https://w2.countingdownto.com/2563492" frameborder="0"></iframe>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="tricross-title-content">
        Tricross 2019
      </div>
      <div class="countdown">
      </div>
      <p>Le dossier d'autorisation de notre 5eme TRI CROSS est désormais déposé en Mairie de St YRIEIX.</p>
      <div class="icon-content">
        <i class="far fa-check-square"></i>
      </div>
      <p>Merci à tous ceux qui ont pris le temps de répondre à l'appel, pour les autres, vous pouvez encore vous inscrire comme bénévoles sur le fichier en ligne sur le site du Club.</p>

      <a href="https://docs.google.com/spreadsheets/d/14fbabK5EmTh4j4DYr1j_FGJshe37VG8cjSabZGJfMnI/edit?usp=sharing" target="_blank">
        <div class="subscription-content">
          <div class="subscription box-shadow-md">
            Inscription bénévoles
          </div>
        </div>
      </a>

      <p>Pour avancer dans l'organisation, je vous propose de nous réunir le vendredi 6 septembre à 18h00, au CDOS.</p>
      <div class="icon-content">
        <i class="far fa-calendar-alt"></i>
      </div>
      <p>Il est important que nous soyons le plus possible à nous réunir pour se répartir les taches !!! et il y a beaucoup de choses à faire.</p>

      <p>Si tout le monde fait un peu, on y arrivera.</p>

      <p>En attendant, je vous souhaite un bon mois d'Aout.</p>

      <p>Sportivement !</p>

      <p>William BOUCARD</p>
      <p>06 99 82 37 01</p>


    </div>
    <div class="row">
    <p>Venez Nombreux découvrir ou re découvrir le CROSS TRIATHLON  du Plan d'eau de St YRIEIX.</p>

    <p>Inscription en LIGNE OUVERTE : cliquez-ici</p>
    <a href="https://inscriptions-teve.fr/triathlon-cross-grand-angouleme-2019/select_competition?fbclid=IwAR1VF5S3PY1btMttL07IUUQetL1UqEPvLhXraFU3X7yrzc1W5x5XY_HO_A4" target="_blank">
      <div class="subscription-content">
        <div class="subscription box-shadow-md">
          Inscription à l'épreuve
        </div>
      </div>
    </a>

    <p>La natation se déroule sur le plan d'eau,en face de l'école de voile, les parcours VTT et course à Pied se déroulent autour du plan d'eau et sur la commune de St-YRIEIX.</p>

    <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:low/v1550509197/JSA%20Triathlon/Reglement_TRI_CROSS.pdf" target="_blank" class="white-link">cliquez ici pour voir le réglement</a>
    <p></p>

    <div class="tricross-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:low/v1568550480/JSA%20Triathlon/parcours_XS_2019.jpg')" >

    </div>
    <div class="tricross-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:low/v1568550489/JSA%20Triathlon/parcours_S_et_M_2019.jpg')"></div>


  </div>

</div>
