<div class="body-tricross">
  <div class="wrapper-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:low/v1554381256/e0ljd37iddlk7zto3gto.png')">
    <iframe width="352" height="80" src="https://w2.countingdownto.com/2563492" frameborder="0"></iframe>
  </div>
  <div class="container">
    <div class="row">
      <h3>Tricross 2019</h3>
      <div class="countdown">
      </div>

      <p>
        Bonjour à tous,
      </p>

      <p>L'organisation du 5ème TRI CROSS du Grand Angoulême est désormais lancée !! Il se déroulera le dimanche 06 Octobre.</p>
      <p>Et nous avons besoin de vous tous !!</p>
      <p>Comme vous le savez, une organisation même la plus modeste comme la notre, nécessite beaucoup de bénévoles investis pour notre Club !!</p>

      <p>Merci donc de prendre quelques minutes, avant que ne débute l'été et les vacances, pour compléter le lien ci-dessous</p>

      <p>L'équipe organisatrice et moi-même vous remercient de l'investissement et du temps que vous pourrez consacrer pour cette nouvelle organisation !</p>

      <p>Sportivement !</p>

      <p>William BOUCARD</p>
      <p>06 99 82 37 01</p>

      <a href="https://docs.google.com/spreadsheets/d/14fbabK5EmTh4j4DYr1j_FGJshe37VG8cjSabZGJfMnI/edit?usp=sharing" target="_blank">
        <div class="subscription-content">
          <div class="subscription box-shadow-md">
            Inscription bénévoles
          </div>
        </div>
      </a>

    </div>
    <div class="row">
    <p>Venez Nombreux découvrir ou re découvrir le CROSS TRIATHLON  du Plan d'eau de St YRIEIX.</p>

    <p>Inscription en LIGNE OUVERTE : cliquez-ici</p>
    <a href="https://inscriptions-teve.fr/triathlon-cross-grand-angouleme-2019/select_competition?fbclid=IwAR1VF5S3PY1btMttL07IUUQetL1UqEPvLhXraFU3X7yrzc1W5x5XY_HO_A4" target="_blank">
      <div class="subscription-content">
        <div class="subscription box-shadow-md">
          Inscription à l'épreuve
        </div>
      </div>
    </a>

    <p>La natation se déroule sur le plan d'eau,en face de l'école de voile, les parcours VTT et course à Pied se déroulent autour du plan d'eau et sur la commune de St-YRIEIX.</p>

    <p>Vous trouverez ci-dessous le lien vers le réglement :</p>

    <a href="https://res.cloudinary.com/dmbf8fog4/image/upload/v1550509197/JSA%20Triathlon/Reglement_TRI_CROSS.pdf" target="_blank">cliquez ici</a>

    <div class="tricross-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:eco/v1556185536/f8pbjlbd7bsdkl89dhca.jpg')" >

    </div>
    <div class="tricross-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dmbf8fog4/image/upload/q_auto:low/v1556133863/p57zgca8puvo7ijttdqd.jpg')"></div>


  </div>

</div>
