
table td {
  border: none;
  text-align: center;
  min-width: 120px;
}

table {
  border: none;
  margin: 30px 0;
}
.table-first-line{
  font-weight: bold;
}

.table-gray-line{
  background-color: #FBFBFC;
  border-top: solid 4px #E5E5E5;
  border-bottom: solid 4px #E5E5E5;
}

.total-top{
  border-top: solid 4px $blue-md;
  border-right: solid 4px $blue-md;
  border-left: solid 4px $blue-md;
}

.total-middle {
  border-right: solid 4px $blue-md;
  border-left: solid 4px $blue-md;
}

.total-bottom {
  border-right: solid 4px $blue-md;
  border-left: solid 4px $blue-md;
  border-bottom: solid 4px $blue-md;
  height: 50px;
}
.logo-width {
  width: 60px;
}
.subscription-title{
  text-align: center;
  font-family: $logo-font;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}
.center-button{
  text-align:center;
  padding-bottom: 10px;
}
li {
  list-style-image: url("https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_15/v1555969918/JSA%20Triathlon/logo.jpg")
}

.visit-card-img{
  width: 50px;
  border-radius: 25px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.visit-card{
  border: solid 1px $blue-md;
  border-radius: 5px;
  padding: 10px;
  background-color: #639ef51c;
  position: relative;
  color: $blue-md;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  min-height: 160px;
  a {
    color: $blue-md;
  }
  i {
    color: $blue-md;
  }
}
.visit-card-name{
  position: absolute;
  left: 70px;
}
