.calendar-card-content {
  background-color: white;
  // padding: 5px;
  border-radius: 3px;
  height: 200px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-card-date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-card-month-year-content {
  position: absolute;
  bottom: 15px;
  width: 86%;
  background-color: $orange;
  font-size: 20px;
  font-weight: 100;
  border-radius: 0 0 3px 3px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-card-date {
  font-weight: 100;
  font-size: 22px;
}

.calendar-card-month {
  color: $white;
}

.calendar-card-time {
  font-weight: bold;
}

.contest-little-card{
  background-color: white;
  height: 40px;
  padding: 5px;
  border-radius: 3px;
  margin-bottom:10px;
  display: flex;
  justify-content: space-between;
  color: $gray;
  &:hover{
    color: $white;
    background-color: $orange
  }
}
a:hover {
  text-decoration: none;
}
