.home-card {
  background-color: $white;
  color: $red;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover !important;
  &-homepage {
    min-height: 42vh;
  }
}

.home-card-title {
  font-size:20px;
  font-weight:bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray;
  i {
    font-size: 40px;
  }
  &:hover {
    text-decoration: none;

  }
}

.picture-card-homepage {
}

.picture-card {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  min-width:200px;
}

.picture-card-photo {
  width: 100%;
  height: 100px;
  position:relative;
  &-homepage {
    min-height: 35vh;
  }
}

.picture-card-status {
  background-color: $red;
  color: $white;
  text-align: center;
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 1;
}

.picture-card-title {
  position: absolute;
  width:100%;
  padding-right: 5px;
  top: 5px;
  left: 5px;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picture-card-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  font-size: 18px;
  font-weight: lighter;

  &-photo {
    position:absolute;
    bottom: 5px;
    left: 5px;
  }
}

.picture-card-date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  font-size: 18px;
  font-weight: lighter;
}

.picture-card-counter {
  background-color: $red;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-card-like {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picture-card-review {
  &:hover {
    color: red;
  }

}

.picture-card-container {
display: flex;
justify-content: space-between;
color: $gray;
i {
  color: $gray;
}
}

.picture {
  width: 100%;
  height:174px;
  background-position: center center;
  background-size: cover !important;
}

.correct-xs {
  min-width:200px;
  // min-height: 250px;

}


.user-picture {
  position:relative;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-position: center center;
  background-size: cover !important;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  &:hover {
  }
}

.overlay-user-picture {
  opacity: 0;
  transition: 1s ease;
  background-color: rgba(255,255,255,0.6);
  color:$gray;
  height: 50px;
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  min-width: 200px;
  justify-content: center;
  border: 1px solid $gray-lighter;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  &:hover {
    opacity: 1;
  }
}


