.home-card {
  background-color: $white;
  color: $red;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  min-height: 120px;
  // min-width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover !important;
  &-homepage {
    min-height: 42vh;
  }
}

.home-card-title {
  font-size: 15px;
  color: $white;
  font-size:20px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  i {
    font-size: 40px;
  }
}

.picture-card-homepage {
}

.picture-card {
  // width: 100%;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  min-width:200px;
}

.picture-card-photo {
  width: 100%;
  height: 100px;
  position:relative;
  &-homepage {
    min-height: 35vh;
  }
}

.picture-card-title {
  position: absolute;
  width:100%;
  padding-right: 5px;
  top: 5px;
  left: 5px;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picture-card-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  font-size: 18px;
  font-weight: lighter;
}

.picture-card-date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  font-size: 18px;
  font-weight: lighter;
}

.picture-card-like {

}

.picture-card-review {
  &:hover {
    color: red;
  }

}

.picture-card-container {
display: flex;
justify-content: space-between;
}

.picture {
  width: 100%;
  height:174px;
  background-position: center center;
  background-size: cover !important;
}

.correct-xs {
  min-width:200px;
  // min-height: 250px;

}

.homepage-card-edit-link {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: $red;
  top: 0;
  right: 15px;
  border-radius: 0 3px 0 0;
  text-align: center;
  i {
    color: $white;
  }
}
