.event {
  background-color: $white;
  color: $gray;
  border-radius: 3px;
  border: 1px $gray solid;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  width: 260px;
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  &-bold {
    font-weight: bolder;
    font-size: 25px;
  }
}
