.wrapper-form {
  display: flex;
  align-items: center;
  color: gray;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  flex-direction: column;
  &:hover{
    background-color: $gray;
    color: $white;
  }

}

.wrapper-flex {
  display: flex;
  justify-content: center;
}


.tri-icons {
  display: flex;
}
