.box-shadow-md {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.text-shadow-md{
  text-shadow: 0 7px 3px rgba(0, 0, 0, 0.8);
}

.return-link {
  color: $gray;
  margin: 10px;
  a {
    color: $gray;
  }
  &:hover{
    a {
      color: $pink;
    }
  }
}

.btn-top-margin{
  margin-top: 10px;
}
