<div class="container">
  <div class="row">
    <h3>Sportswears</h3>
    <% @sportswears.each do |sportswear| %>
      <div class="col-xs-12 col-sm-6">
        <%= sportswear.inspect %>
      </div>
    <% end %>
  </div>
</div>
