.user-check{
  // display: flex;
  // justify-content: space-around;
  border: solid $red 1px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: $light-gray;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.user-letter {
  font-size: 20px;
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 5px;
  margin-top: 10px
}

.check-yn{
  border: solid 1px red;
  border-radius: 3px;
}

.user-page-icon{
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: $red;
  align-items: center;
  height: 300px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}
