<div class="workout-content box-shadow-md">
    <div class="workout-title-content">
        <div class="workout-sport">
            Natation
        </div>
        <div class="workout-sport-logo">
            <i class="fas fa-swimmer fa-lg"></i>
        </div>
        <div class="workout-hours-logo">
            <i class="fa-solid fa-clock"></i>
        </div>
        <div class="workout-start-hour">
            10:00
        </div>
        <div class="workout-end-hour">
            12:00
        </div>
    </div>
    <div class="workout-text">
        Entrainement avec les jeunes ANC
    </div>
    <div class="workout-location-logo">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="workout-location">
    Plan d'eau de Saint Yrieix sur Charente
    </div>  
</div>