<h3>Hello</h3>
<p>Ceci est un mail pour tester la génération
d'une liste de dfiffusion et l'envoi d'un email non personnalisé</p>

<p>A voir si cela fonctionne pour atteindre 100% des membres et passer
sous les limites de Google</p>

<p>Dites moi si cela fonctionne</p>

<p>Bonne soirée</p>

<p>Marc</p>
